
<p>attached files:</p>
<table border="0" frame=void>
    {# <tr>
        <th> # </th>
        <th>filename</th>
        <th>operation</th>
    </tr> #}
    {% for file in files %}
        <tr>
            <td title="id:{{file.id}}">{{ loop.index }}</td>
            <td>&nbsp;{{ file.filename }}&nbsp;</td>
            <td>
                &nbsp;
                <a href="{{ url_for('blue_memo.cmd_download', filename=file.filename) }}">download</a>&nbsp; &nbsp;
                {#<a href="{{ url_for('blue_memo.cmd_deletefile', filename=file.filename, recordid=recordid, page=page) }}" onClick="return confirm_delete();">delete</a>&nbsp;#}
            <form id="form3" action="{{ url_for('blue_memo.cmd_deletefile', filename=file.filename, recordid=recordid, page=page) }}" method="post" style="display:inline">
              <a href="javascript:document.getElementById('form3').submit();" onClick="return confirm('confirm delete ={{file.filename}}= ?')">delete</a>
            </form>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<form action="{{ url_for('blue_memo.cmd_upload', recordid=recordid, page=page)}}" method="post" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style="color:red">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}


